node_modules
dist
.git
.gitignore
.vscode
*.log
.env
.env.*
!.env.example
app/models/generated
app/assets/javascripts/generated
database/*.db
database/*.db-journal
uploads
__tests__
jest.config.js
serverless.yml
vercel.json
*.md
